---
// 欢迎来到 Astro！这些三横线所围住的代码
// 就是你的“组件 front matter”。它不会运行在浏览器中。
console.log('它运行在终端而非浏览器！');
---
<!-- 下面是你的“组件模板”。 这仅仅是 HTML，但是
     带有魔法点缀可以帮助构建更棒的模板。 -->
<html>
  <body>
    <h1>Hello, World!</h1>
  </body>
</html>
<style>
  h1 {
    color: orange;
  }
</style>